<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="status-window"></div>
            <h2>Продукт '{{ name }}'</h2>
            <!--enctype="multipart/form-data"-->
            <form action="/backend/web/products/insert" id="detailed" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Название</label>
                    <div class="clearfix"></div>
                    <input type="text" id="name" name="name" value="{{ name }}">
                </div>
                <div class="form-group" id="category">
                    <label for="parent-list">Категория</label>
                    <div class="clearfix"></div>
                    {{ main_cat | raw }}
                    {{ options_cat | raw }}
                </div>
                <div class="form-group" id="brand">
                    <label for="brand-list">Бренд</label>
                    <div class="clearfix"></div>
                    <select name="brand_list" class="form-control" id="brand_list">
                        <option value="{{ brand_id }}">{{ main_brand }}</option>
                        {{ options_brand | raw }}
                    </select>
                </div>
                <div class="form-group" id="merch">
                    <label for="merch-list">Поставщик</label>
                    <div class="clearfix"></div>
                    <select name="merch_list" class="form-control" id="merch_list">
                        <option value="{{ merch_id }}">{{ main_merch }}</option>
                        {{ options_merch | raw }}
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Описание</label>
                    <div class="clearfix"></div>
                    <textarea class="form-control" rows="5" type="text" id="descr" name="descr"
                              value="{{ description }}">{{ description }}</textarea>
                    {{ decsription }}
                </div>

                <div class="form-group">
                    <label for="name">Изображение</label>
                    <div class="clearfix"></div>
                    <input type="file" name="image" id="image">
                </div>


                {% for input in inputs %}
                    <div class="form-group">
                        <label for="{{ input.id }}">{{ input.name }}</label>
                        <div class="clearfix"></div>
                        <input type="text" id="{{ input.id }}" name="{{ input.id }}" value="{{ input.value }}">
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="hidden" value="{{ id }}" id="id" name="id">
                    <input type="hidden" name="_csrf-backend" value="{{ token }}" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Обновить">
                </div>
            </form>
            <a class="btn btn-primary" style="color:#fff;" href="/backend/web/products/">Назад</a>
        </div>
    </div>
</div>

<script>
    // $('#detailed').submit(function (e) {
    //     e.preventDefault();
    //     $.post({
    //         url: '/backend/web/products/insert',
    //         method: 'post',
    //         data: $(this).serialize(),
    //         dataType: 'json',
    //         success: function (data) {
    //             console.log(data);
    //             $('.status-window').text('Товар обновлен').css('background','#2b901d').fadeIn().delay(2000).fadeOut();
    //         },
    //         error: function () {
    //
    //         }
    //     });
    // });

    $('#detailed input[type=checkbox]').change(function () {
        let attr = $(this).prop('checked');
        let id = $('input[name=id]').val();
        let cat_id = $(this).val();

        if (!attr) {
            $.get('/backend/web/products/dellinks', {cat_id: cat_id,id:id}, function (data) {
                $('.status-window').text('Категория удалена').css('background','#b91717').fadeIn().delay(2000).fadeOut();
            });
        } else {
            $.get('/backend/web/products/uplinks', {cat_id: cat_id,id:id}, function (data) {
                $('.status-window').text('Категория добавлена').css('background','#2b901d').fadeIn().delay(2000).fadeOut();
            });
            //  $(this).addAttr('checked','checked');
        }

        $(this).removeAttr('checked');
    });
</script>