<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Добавить шрифт</h2>
            <form action="/backend/web/settings/loadfont" method="POST" enctype="multipart/form-data">
              <!--  <div class="form-group">
                    <label for="font_name">Название шрифта</label>
                    <div class="clearfix"></div>
                    <input name="name" id="name" value="" class="form-control">
                </div> -->
                <div class="form-group">
                     <label>Файл шрифта</label>
                     <div style="font-size:10px;">*Шрифт должен иметь тип .ttf</div>
                     <div class="clearfix"></div>
                     <input type="file" name="font" id="font" class="form-control">
                </div>
                <input type="hidden" name="_csrf-backend" value="{{ token }}" />
                <input name="send" id="" class="btn btn-primary" type="submit" value="Загрузить">
            </form>
            <h4 class="mt-4">Список шрифтов</h4>
            <ol>
            {% for font in fonts %}
               <li class="mt-2 mb-2"> {{ font.name }} 
                <form action="/backend/web/settings/delfont" method="GET" class="form-inline" style="display:inline-block;">
                    <input type="hidden" name="id_del" value="{{ font.id }}">
                    <input type="hidden" name="_csrf-backend" value="{{ token }}" />
                    <input type="submit" class="btn btn-danger" value="x">
                </form>
               </li>
            {% endfor %}
            </ol>
        </div>
    </div>
</div>