<div class="container">
    <div class="row users-admin">
        <div class="col-12">
            <h2>Настройки</h2>
               <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="menu-grid">
                    <div>
                        <a href="/backend/web/fonts">Шрифты</a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
                <div class="col-xs-12 mt-3">
                            <a class="btn btn-primary" href="/backend/web/">Назад</a>
                </div>
        </div>   
      </div>
        </div>
    </div>
</div>