<h2>Загрузка товаров</h2>
<form action="{{ link }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <input type="checkbox" name="check" value="0" id="universal" class="form-control" style="width:20px;display:inline-block;">
        <label for="">Использовать универсальный загрузчик</label>
    </div>
    <div class="form-group">
        <input type="checkbox" name="loadernew" value="0" id="loadernew" class="form-control" style="width:20px;display:inline-block;">
        <label for="">Новая загрузка</label>
    </div>
    <div class="form-group" id="selectMerch">
        <label for="">Выберите поставщика</label>
        <select name="parser-name" id="">
            <option value="">Не выбрано</option>
            {% for merch in merches %}
                <option value="{{ merch.id }}">{{ merch.name }}</option>
            {% endfor %} }}
        </select>
    </div>
    <div class="form-group">
        <input type="file" name="xml" required>
    </div>
    <input type="submit" value="Загрузить товары" class="btn btn-primary">
</form>
<script>
$('body').on('click','#universal',function(){
    toggleUpload();
})

$('body').on('click','#loadernew',function(){
    toggleNew();
})

function toggleUpload(){
    $('#universal').toggleClass('active');
    if($('#universal').hasClass('active')){
        $('#universal').val(1);
    }else{
       $('#universal').val(0);
    }
}

function toggleNew(){
    $('#loadernew').toggleClass('active');
    if($('#loadernew').hasClass('active')){
        $('#loadernew').val(1);
    }else{
       $('#loadernew').val(0);
    }
}

</script>