<template>
    <div>
        <Menu></Menu>
        <div class="card__body container">
           <div class="row">
               <div class="col-6">
                   <img :src="prod.image" alt="">
               </div>
               <div class="col-6">
                   <div class="title font-weight-bold"> {{ prod.name }}</div>
                   <div class="articul"><span>Артикул:</span> {{ prod.articul }}</div>
                   <div class="price-roz"><span>Розничная цена:</span> {{ prod.price_roznica }} р.</div>
                   <div class="price-opt"><span>Оптовая цена:</span> {{ prod.price_opt}} р.</div>
                    <div class="status"><span>Статус(наличие):</span> {{ prod.status }}</div>
                   <div class="category"><span>Категория:</span><ul class="sections" v-for="(sections,index) in prod.sections" :key="index"><li>{{ sections.name }}</li></ul></div>
                   <div class="brand"><span>Бренд:</span> {{ prod.brands.name }}</div>
                   <div class="merch"><span>Поставщик:</span> {{ prod.merchants.name }}</div>
                   <Button :id="prod.id"></Button> 
               </div> 
           </div>
            <div class="row">
                <div class="col-12">
                    <div class="description">
                        <div class="clearfix font-weight-bold">Описание</div>
                        {{ description }} 
                    </div>
                </div>
            </div>
          <transition name="fade">
               <div class="notification" v-if="notification.vision">{{ notification.text }}</div>
          </transition>
        </div>
    </div>
</template>

<script>
    import Menu from '@/components/Menu.vue'
    import Button from '@/components/ButtonOrder.vue'

    export default {
        name: "Details",
        components:{
            Menu,
            Button
        },
        beforeCreate:function(){
            this.$store.dispatch('set_one_product',this.$route.params.idprod);
        },
        computed:{
            notification(){
                return this.$store.state.notification
            },
            prod(){
                return this.$store.getters.get_product;
            },
            description(){
                return (this.prod.description !== ' ') ? this.prod.description : 'Описание отсутствует'
            }
        }
    }
</script>

<style scoped lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to{
        opacity: 0;
    }
    .notification{
        position: fixed;
        bottom: 50px;
        right: 50px;
        background: #208027;
        color: #FFF;
        font-weight: bold;
        padding: 15px;
    }
    img{
        display: block;
        width:400px;
        height:400px;
    }
    .card__body{
        padding:100px 50px 40px 50px;
        & .articul,.price-roz,.price-opt,.status,.category,.brand{
         margin-bottom: 20px;
        }
        & .title{
            margin-bottom: 40px;
            font-size: 30px;
        }
    }
    .description{
        margin-top: 100px;
    }
    .btn-add{
        margin-top: 20px;
    }
    .sections{
        margin-top: 15px;
    }
</style>