<template>
    <div>
         <Menu></Menu>
        <div class="container">
            <div class="row">
                <h3 class="w-100 mt-5 mb-4">Мои офферы</h3>
                <form class="form-inline active-cyan-4 w-100 mb-4">
                    <input v-model="searchOffer" class="form-control form-control-sm mr-3 w-25" type="text" placeholder="Поиск" aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>
                <ul class="offers_list">
                    <li class="offer_item" @click="selCart(offer.id)" v-for="(offer,index) in offers_search" :key="index" :data-id="offer.id">
                        <span>{{ '#'+offer.id+' '+offer.name }}</span>    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import Menu from '@/components/Menu.vue'

    export default {
        name: "Offers",
        components:{
            Menu
        },
        created:function(){

        },
        data:function(){
            return {
               searchOffer: '',
               offers_search: this.$store.state.all_data.user_carts,
            }
        },
        computed:{
            offersData(){
               return this.$store.getters.get_all_data.user_carts
            },
        },  
        methods: {
            selCart(id){
                   var selectedOffer;
                   var quant = 0;
                   selectedOffer = this.offersData.filter(function (item) {
                        if(item.id == id){
                            return item;
                        }
                   }); 

                JSON.parse(selectedOffer[0].data).forEach(function($i){
                    quant = parseInt($i.quant)+quant
                   
                }); 

                this.$store.state.cart_quant = quant
                this.$store.dispatch('selectCart',selectedOffer);
                this.$store.state.template.name = selectedOffer[0].name;
                 
            },
        },
        watch:{
            searchOffer(v){ 
                var selectedOffer;
                var value = v;
                this.offers_search = this.offersData.filter(function (item) {
                     var reg = RegExp(value,'g')
                            if(reg.test(item.name) || reg.test(item.id)){ 
                                return item;
                     }
                });   
              
            }
        },
    }
</script>

<style scoped lang="scss">
.offer_item{
    cursor:pointer;
    &:hover{
        color:#2692ff;
    }
}
.offers_list{
    list-style-type: none;
    padding:0px;
}
</style>