<template>
    <div>
        <Menu></Menu>
           <div class="container">
               <div class="row">
                   <div class="col-12"> 
                       <h2 class="order-title"></h2>
                       <div class="row actions justify-content-end">
                           <a :href="pdfdata" v-if="pdfdata !==''" target="_blank" download="" class="mr-5">Ссылка на .pdf</a>
                           <a :href="exel" v-if="exel !==''" target="_blank" download="" class="mr-2">Ссылка на .xls</a>
                           <div class="modal-template" v-show="modalvision">
                               <div class="clearfix"></div> 
                               <input class="form-control" id="tempName" type="text" name="template-text" placeholder="Название шаблона" v-model="templateName">
                               <button style="display:inline-block;margin:0px !important;" class="btn btn-success action-button" @click="saveCart">Ок</button>
                               <button style="display:inline-block;margin:0px !important;margin-left:10px !important;" class="btn btn-danger action-button" @click="modalvision = false">Закрыть</button>
                           </div>
                           <div class="btn btn-danger action-button" id="button-save-order" @click="modalvision = true">Сохранить корзину</div>
                           <div class="btn btn-success action-button" @click="sendPDF">в PDF</div>
                           <div class="btn btn-warning action-button" @click="sendExel">в Exel</div>
                            <button class="btn btn-success action-button" @click="togglePrice"><span>Доллары</span>/<span>рубли</span></button>
                       </div>
                       <label style="font-weight:bold;font-size: 20px;font-family:'PFBeauSansPro';" for="">Скидка</label>
                       <input type="text" class="form-control sale-input" v-model="sale" id="sale-input">
                       <div id="toPDF" >
                           <div class="row">
                               <div class="col-12 p-0">
                                   <div class="template-data" v-html="currentTemplate.data"></div>
                               </div>
                           </div>
                           <div class="row" style="padding:0px 20px;">
                               <table  :style="{
                                   width: '100%',
                                   borderCollapse:'collapse',
                                   background:currentTemplate.header_color,
                                   fontFamily:currentFont.fontFamily,
                                   padding:'0px 20px'
                                   }"  class="main-table" >
                                   <tr width="100%">
                                        <td align="center" width="200px" >Фото товара</td>
                                        <td  width="30%" style="padding-left:5px;">Наименование товара</td>
                                        <td align="center" width="15%" >Артикул</td>
                                        <td align="center" width="15%">Цена</td>
                                        <td align="center" width="12%">Кол-во</td>
                                        <td align="center" width="15%">Сумма</td>
                                   </tr>
                               </table>
                           </div>
                           <div class="row" style="padding:0px 20px;">
                               <table class="prod-table" style="width: 100%;border-collapse:collapse;border:1px solid #DBDBDB;overflow:wrap;">
                                    <tbody  v-for="(order,index) in currentOrder" :key="index">
                                        <OrderItem :delbutton="visionDelete" :order="order"></OrderItem>
                                    </tbody>
                                    <tfoot>
                                    <tr width="100%">
                                        <td colspan="3"></td>
                                        <td align="left" :style="{fontFamily:currentFont.fontFamily,border:'1px solid #DBDBDB',padding:'10px 10px',fontSize:'15px'}" colspan="34">Итого: {{ sale_summ }} {{ this.$store.state.valuta }}</td>
                                    </tr>
                                    <tr width="100%">
                                        <td colspan="3"></td>
                                        <td align="left" :style="{fontFamily:currentFont.fontFamily,border:'1px solid #DBDBDB',padding:'10px 10px',fontSize:'15px'}" colspan="4">Ваша скидка {{ sale }} % : <span style="background:#E8E50E;text-align:center;padding:0px 5px;">{{sale_summ - summ }} {{ this.$store.state.valuta }}</span></td>
                                    </tr>
                                    <tr width="100%">
                                        <td colspan="3"></td>
                                        <td align="left" :style="{fontFamily:currentFont.fontFamily,border:'1px solid #DBDBDB',padding:'10px 10px',fontWeight:'bold',fontSize:'15px'}" colspan="4"><b>Сумма со скидкой: {{summ }} {{ this.$store.state.valuta }}</b></td>
                                    </tr> 

                                    </tfoot> 
                                </table>
                           </div>
                            <div class="row">
                               <div class="col-12 p-0">
                                   <div class="template-data footer-template" v-html="currentTemplate.data_footer"></div>
                               </div>
                           </div>
                       </div>
                        <transition name="fade">
                            <div class="notification" v-if="notification.vision">{{ notification.text }}</div>
                       </transition>
                      
                   </div>
               </div>
           </div>
    </div>
</template>

<script>
//currentTemplate['0'].fontname.name
    import Menu from '@/components/Menu.vue'
    import OrderItem from '@/components/OrderItem.vue'
    import $ from 'jquery'

    export default {
        name: "Template",
        components:{
          Menu,
          OrderItem
        },
        data:function () {
            return {
                visionDelete: true,
                pdfdata:'',
                templateName:'',
                modalvision:false,
                prices_dollars:false,
                exel:'',
            }
        },
        computed:{
            notification(){
                return this.$store.state.notification
            },
            sale:{
                get:function(){       
                    return this.$store.state.sale;
                },
                set:function(newValue){
                    this.$store.state.sale = newValue
                }

            },
            selectedOffer(){
                return this.$store.state.selectedOffer
            },
            currentTemplate(){
               return this.$store.state.template
            },
            currentFont(){
               return {
                   fontFamily:this.$store.state.template[0].fontname
               }
            },
            currentOrder(){
                return this.$store.state.order
            },
            sale_summ(){
                let order = this.$store.state.order
                let res = 0;

                for (let item of order) {                   
                        res += Math.ceil(parseInt(item.price_roznica*item.quant))
                }

                return res;
            },
            summ() {
                let order = this.$store.state.order
                let res = 0;
                let sale;
             
                if(this.sale == 0){
                    sale = 100
                }else{
                    sale = this.sale
                }
           
             
                if(sale == 100 ){ 
                        res = this.sale_summ
                        
                    }else{
                        res = this.sale_summ - Math.ceil(parseInt(this.sale_summ)*(sale / 100))
                    }

                return res;
            }
        },
        methods:{
            sendExel(){
                var vm = this;

                fetch(vm.$store.state.url+'backend/web/api-exel',{
                   method: 'put',
                   headers: {
                       'Accept': 'application/json, text/plain, */*',
                       'Content-Type': 'application/json'
                   },
                   body: '&body='+JSON.stringify({
                       data: vm.currentOrder,
                       summ:[
                           vm.sale+ ' '+'%',
                           vm.summ+ ' '+vm.$store.state.valuta,
                           vm.sale_summ+ ' '+vm.$store.state.valuta
                       ]
                   })
                })
                   .then(function (response) {
                     return response.json()
                   })
                   .then(function (data) {
                       vm.exel = data;
                        vm.$store.state.notification.vision = true;
                        vm.$store.state.notification.text = 'XLS загружен';
                        setTimeout(function(){
                            vm.$store.state.notification.vision = false;
                            vm.$store.state.notification.text = 'Товар загружен';
                        },1000)   
                   })
            },
            togglePrice(){
                 this.$store.dispatch('toggleprice')
            },
            sendPDF(){
                var plus = document.querySelectorAll('.plus');
                var minus = document.querySelectorAll('.minus');
        
                plus.forEach(function(i){
                    i.style.display = 'none';
                })

                 minus.forEach(function(i){
                    i.style.display = 'none';
                })

                var html = 'body=' + $('#toPDF').html()+'&font='+this.currentFont.fontFamily+'&footer='+this.currentTemplate.data_footer;
                html = html.replace(/&nbsp;/g,' ')
             
                var vm = this
            
                fetch(vm.$store.state.url+'backend/web/api-pdf',{
                   method: 'put',
                   headers: {
                       'Accept': 'application/json, text/plain, */*',
                       'Content-Type': 'application/json'
                   },
                   body: html.replace(/удалить/g,'')
                })
                   .then(function (response) {
                     return response.json()
                   })
                   .then(function (data) {
                            vm.pdfdata = data;
                            plus.forEach(function(i){
                                i.style.display = 'inline-block';
                            })

                            minus.forEach(function(i){
                                i.style.display = 'inline-block';
                            })

                            vm.$store.state.notification.vision = true;
                            vm.$store.state.notification.text = 'PDF загружен';
                            setTimeout(function(){
                                vm.$store.state.notification.vision = false;
                                vm.$store.state.notification.text = 'Товар загружен';
                            },1000)         
                   })
            },
            saveCart(){
                var templateId = this.currentTemplate.id;
                var userId = this.$store.state.user.id;
                var data = this.$store.state.order;
                var sale = this.sale;
                var self = this;
                var name = this.templateName;
                var button = document.getElementById('button-save-order');
                var input = document.getElementById('tempName');

                if(name === ''){
                    input.focus();
                    return false;
                }

                $.post(self.$store.state.url+'backend/web/api-saveorder',{
                    template:templateId,
                    user:userId,
                    data:data,
                    sale:sale,
                    name:name,
                },function(){
                    button.innerText = 'Шаблон успешно сохранен';
                    setTimeout(function(){
                          self.modalvision = false;
                          self.templateName = '';
                          button.style.backgroundColor = '#28a745';
                          button.style.borderColor = '#28a745';
                          setTimeout(function(){
                            button.style.backgroundColor = '#dc3545';
                            button.style.borderColor = '#dc3545';
                            button.innerText = 'Сохранить корзину';
                          },2000);
                    },1000);    
                    
                })
            },
        },
    }
</script>

<style  lang="scss">

    //@import '../../fonts.css';
    .prod-table{
        overflow: wrap;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to{
        opacity: 0;
    }

     .notification{
        position: fixed;
        bottom: 50px;
        right: 50px;
        background: #208027;
        color: #FFF;
        font-weight: bold;
        padding: 15px;
    }

    .sale-input{
        width:100px;
        margin:0px 0px 40px 0px;
    }
    .sale{
        padding-top: 30px;
        margin-left: 30px;
        clear:both;
        float:right;
        width:140px;
        & span{
            font-weight: bold;
            margin-right: 20px;
        }
    }
    .summ{
        padding-top: 30px;
        float:right;
        width:265px;
        & span{
            font-weight: bold;
            margin-right: 20px;
        }
    }
    .order-title{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .action-button{
        margin:0px 15px;
        margin-bottom: 30px;
        padding:5px 20px;
    }
    .footer-template{
        margin-top:0px;
    }
    .modal-template input{
        position: relative;
        margin-bottom: 20px;
    }
    .modal-template{
        border: 1px solid #e6dbdb;
    padding: 10px;
    position: absolute;
    margin-top: -40px;
    background: #f1f1f1;
    width: 327px;
    }
    .gray-header{
        background-color:#d6d6d6;
        & .header-image{
            width:300px;
        }
        & .header-name{
            width:370px;
        }
        & .header-price{
            width:140px;
        }
        & .header-art{
            width:120px;
        }
    }

</style>