<template>
    <div>
        <button class="btn btn-primary btn-add" @click.stop="addItem">Добавить</button>
    </div>
</template>

<script>
    export default {
        name: "ButtonOrder",
        props:['id'],
        computed:{
            orderItem(){
                this.$store.dispatch('set_one_product',this.id);
                return this.$store.getters.get_product
            }
        },
        methods:{
            addItem(){
                var self = this

                this.$store.state.cart_quant += 1   

                this.orderItem['description'] = this.orderItem['description'].replace(/&nbsp;/g,' ');
                this.orderItem['description'] = this.orderItem['description'].replace(/&ndash;/g,' ');
                this.orderItem['description'] = this.orderItem['description'].replace(/&laquo;/g,' ');
                this.orderItem['description'] = this.orderItem['description'].replace(/&raquo;/g,' ');

                console.log(this.orderItem['description'])
                this.$store.dispatch('set_one_product',this.id);
                this.$store.dispatch('set_order', this.orderItem);

                this.$store.state.notification.vision = true;
                setTimeout(function(){
                   self.$store.state.notification.vision = false;
                },1000)
            }
        }
    }
</script>

<style scoped>
    .btn-add{
        margin-top:10px;
    }
</style>