<template id="catalog-template">
    <div> 
        <div id="user-body" class="row no-gutters" v-if="body"> 
            <div class="pagination justify-content-end w-100" v-if="show_pagin"> 
                    <div v-if="page>1" class="clearfix  mb-4 text-right font-weight-bold title-pagination">Страница {{ page }}</div>
                    <div class="mb-4" style="max-height:31px">
                        <button v-if="page>1" type="button" class="btn btn-sm btn-primary outline" @click="page = 1">В начало</button>
                        <button type="button" class="btn btn-sm btn-primary outline" v-if="page != 1" @click="page--"> Предыдущая </button>
                        <button type="button" :class="'btn btn-sm btn-primary outline button-pag'+ current " :data="(page == pageNumber) ? '1': '2'" v-for="(pageNumber,index) in pages.slice(page-1, page+3)" :key="index" @click="changePage(pageNumber)"> {{pageNumber}} </button>
                        <button type="button" @click="page++" v-if="page < pages.length-4" class="btn btn-sm btn-primary outline"> Следующая </button>
                    </div>
            </div>
            <div class="titlecat mb-4 font-weight-bold" style="font-size:26px;">{{ titlecat }}</div>
            <div class="clearfix"></div>
            <div class="filter w-100 mb-4"> 
                        <label for="postavshik">Выбрать поставщика</label>
                        <select name="" id="postavshik" v-model="merchId" @change="selMerch" class="custom-select my-select">    
                            <option style="font-weight:bold;" :value="'all'" v-if="cat_id == 0">Все поставщики</option>
                            <option v-for="(offer,index) in merchantsData" :key="index" :data-id="offer.id" :value="offer.id">{{ offer.name }}</option>
                        </select>
                        <label for="brands_">Выбрать бренд</label>
                        <select name="" id="brands_" v-model="brandId" @change="selBrand" class="custom-select my-select">    
                            <option style="font-weight:bold;" :value="'all'" v-if="cat_id == 0">Все бренды</option>
                            <option v-for="(offer,index) in brandsDataAll" :key="index" :data-id="offer.id" :value="offer.id">{{ offer.name }}</option>
                        </select>
                         <button class="ml-5 back btn btn-primary" v-if="cat_id !== 0" @click="getCache">{{ titlecat }}</button>
            </div>
            <div class="row wrap-prods">
                <Card v-for="(prod,index) in displayedProds" :key="index" :item="prod"></Card>
            </div>
            <div class="pagination justify-content-end w-100 mt-5 mb-5" v-if="show_pagin">
                    <div v-if="page>1" class="clearfix  mb-4 text-right font-weight-bold title-pagination">Страница {{ page }}</div>
                    <div class="mb-4" style="max-height:31px">
                        <button v-if="page>1" type="button" class="btn btn-sm btn-primary outline" @click="page = 1">В начало</button>
                        <button type="button" class="btn btn-sm btn-primary outline" v-if="page != 1" @click="page--"> Предыдущая </button>
                        <button type="button" :class="'btn btn-sm btn-primary outline button-pag'+ current " :data="(page == pageNumber) ? '1': '2'" v-for="(pageNumber,index) in pages.slice(page-1, page+3)" :key="index" @click="changePage(pageNumber)"> {{pageNumber}} </button>
                        <button type="button" @click="page++" v-if="page < pages.length-4" class="btn btn-sm btn-primary outline"> Следующая </button>
                    </div>
            </div>
        </div>
        <div id="loader" v-if="loader">
            <div class="loader_icon"></div>
        </div>
          <transition name="fade">
               <div class="notification" v-if="notification.vision">{{ notification.text }}</div>
          </transition>
    </div>
</template> 

<!--Запунуть потом пагинацию в отдельный компонент-->
<script>
    import Card from '@/components/Card.vue'

    export default {
        name: 'Catalog',
        components: {
            Card
        },
        data: function () {
            return {
                pages: [],
                page: 1,
                perPage:20,
                current: '',
                merchId: 0,
                brandId: 0,
            }
        },
        props: {},
        computed: {
            show_pagin(){
               return this.prods.length<20 
               ? false
               : true;
            },
            cat_id(){
                return this.$store.state.cat_id
            },
            notification(){
                return this.$store.state.notification
            },
            brandsDataAll:{
                get:function(){
                    return this.$store.state.brands
                },
                set:function(v){ 
                    this.$store.state.brands = v
                }
            },
            titlecat(){
                return this.$store.state.titlecat;
            },
            prods() {
                //вызываем нужный экшон который вызывает свою мутацию
              return this.$store.getters.get_products  //получаем результат
            },
            displayedProds () {
               return this.paginate(this.prods);
            },
            merchantsData(){
                 if(this.$store.state.cat_id !== 0){
                     return this.$store.state.merchants
                 }else{
                     return this.$store.getters.get_all_data.merchants
                 }
            },
            body(){
                return this.$store.state.main;
            },
            loader(){
                return this.$store.state.loader;
            },
            brand_links(){
                return this.$store.getters.get_all_data.brand_links
            }
        },
        methods:{
            getCache(){
                this.$store.state.products = this.$store.state.data_cache.data    
                this.brandsDataAll= this.$store.state.data_cache.brands
               // this.merchId = "undefined";
               // this.brandId = "undefined";
            },
            setPages () {
                let numberOfPages = Math.ceil(this.prods.length / this.perPage)
                for (let index = 1; index <= numberOfPages; index++) {
                   if(this.pages.length == numberOfPages){   //Просчитываем индексы
                       break;
                   }
                   this.pages.push(index);
                }
            },
            paginate (pprods) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                return  pprods.slice(from, to);  //отрисовываем товары в пагинации
            },
            changePage(pageNumber){
                this.page = pageNumber
            },
            resetBrand(){ 
                this.$store.state.products = []
                this.$store.state.products = this.$store.state.prod_default
            },
            resetPostv(){
                this.$store.state.products = []
                this.$store.state.products = this.$store.state.prod_default
            },
            selBrand(){
                this.$store.state.products = this.$store.state.data_cache.data
                  //Каталог и фильтр мерчи
                
                if(this.brandId == 'all'){
                    this.resetBrand();
                    return false;
                }

               if(this.$store.state.cat_id !== 0){
                    var prods = this.$store.state.products;
                    var self = this; 

                    self.$store.state.products = []
                    prods.filter(function (item) {
                            if(item.brand_id == self.brandId){
                                self.$store.state.products.push(item);
                            }
                    }); 
               }else{
                    this.$store.state.catalog_reset = true
                    var prods = this.$store.state.prod_default;
                    var self = this; 

                    self.$store.state.products = []
                    prods.filter(function (item) {
                            if(item.brand_id == self.brandId){
                                self.$store.state.products.push(item);
                            }
                    }); 
                }
            },
            selMerch(){
                this.$store.state.products = this.$store.state.data_cache.data
                  //Каталог и фильтр мерчи
                if(this.merchId == 'all'){
                    this.resetPostv();
                    return false;
                }
               //если из каталога пришли то берем найденные продукты, если нет то из дефолтных
                if(this.$store.state.cat_id !== 0){ 
                    var prods = this.$store.state.products;
                    var self = this;

                    self.$store.state.products = []
        
                    prods.filter(function (item) {
                            if(item.merchant_id == self.merchId){
                                self.$store.state.products.push(item);
                            }
                    });
                    
                }else{ 
                    var prods = this.$store.state.prod_default;
                    var self = this;
                    this.$store.state.catalog_reset = true

                    self.$store.state.products = []
        
                    prods.filter(function (item) {
                            if(item.merchant_id == self.merchId){
                                self.$store.state.products.push(item);
                            }
                    });
                }
            }
        },
        watch: {
            prods () {
                this.setPages();
            },
            cat_id(){
                var brands = [];
                var self = this; 
                    this.brand_links.forEach(function(val){ 
                        if(val.merch_id == self.merchId){
                            brands.push(val['brand_info']);
                        }
                    });
                                
                    this.$store.state.brands = brands;
            },
            merchId(){ 
                //Каталог и фильтр мерчи
                var brands = [];
                var self = this;
                
               // this.$store.state.catalog_reset = true

                if(self.merchId == 'all'){
                    this.$store.state.brands = this.$store.getters.get_all_data.brands
                    return false
                }
                   
                    this.brand_links.forEach(function(val){ 
                        if(val.merch_id == self.merchId){ 
                            brands.push(val['brand_info']);
                        }
                    });
                                
                    this.$store.state.brands = [];

                    brands.forEach(function(item,index){
                        self.$store.state.brands[index] = {
                            id:item[0].id,
                            name:item[0].name
                        }
                    });
                if(this.$store.state.cat_id !== 0){ 
                    var filtered = self.$store.state.data_cache.data.filter(function(item){
                        return self.merchId == item.merchants.id
                    })  
                   
                    self.$store.state.brands = self.$store.state.brands.filter(function(brand){
                        var filt_check = false;
                        filtered.filter(function(v){
                            if(v.brands.id == brand.id){
                                filt_check = true;
                            }
                        });
                        return filt_check
                    });
                }   
            },
        },
        created:function(){         
            this.$store.dispatch('set_products');
        },
        mounted:function(){
                var self = this
                this.$root.$on('resetall',function(){
                    self.merchId = "undefined";
                    self.brandId = "undefined";
                })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to{
        opacity: 0;
    }
    .notification{
        position: fixed;
        bottom: 50px;
        right: 50px;
        background: #208027;
        color: #FFF;
        font-weight: bold;
        padding: 15px;
    }
    #user-body {
        width: auto;
        height: calc(100vh - 60px);
        padding: 40px;
        & .col-lg-3 {
            margin-bottom: 15px !important;
            @media (min-width: 1400px) {
                max-width: 20%;
            }
        }
    }
    #loader{
        width:100vw;
        height:100vh;
        z-index:1000;
        position: fixed;
        left:0;
        top:0;
    }
    .loader_icon{
        width: 100px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 20000;
        background:url('../assets/ajax-loader.gif');
    }
    .outline{
       margin:0 10px;
    }
    .title-pagination{
        font-size:25px;
    }
    .wrap-prods{
        min-width:100%;
    }
    .button-pag{
        width:10px;
        width: 29px;
        padding: 5px 5px 5px 5px;
    }
    .my-select{
        max-width:300px
    }
    .filter{
        & label{
            margin:10px;
        }
    }
</style>
