<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width:100%;max-height:60px;">
            <a class="navbar-brand" href="#">{{ avatar }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav col-xl-8">
                    <li class="nav-item active">
                        <router-link :to="{ name: 'home' }">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="templates-aside" @click="switchSlide('template')">Шаблоны</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="catalog-aside" @click="switchSlide('catalog')">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{ name: 'offers' }">
                          <a class="nav-link" href="#">Офферы</a>
                        </router-link>
                    </li> 
                    <li class="nav-item" v-if="rights"> 
                        <a class="nav-link" href="/backend/web">Админка</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" @click="reload">Выйти</a>
                    </li>
                    <li>
                        <Search></Search>
                    </li>
                </ul>
                <div class="col-xl-3 text-center font-weight-bold template__title-current">
                  <div class="btn btn-primary btn-danger reset-template" v-if="currentTemplate.name !== undefined" @click="resetAll">Сбросить все</div>
                  <div style="display:inline-block" v-if="currentTemplate.name !== undefined">Шаблон {{ currentTemplate.name }}</div>
                </div>
                <div class="col-xl-1 justify-content-end right-block"><div class="text-right">
                    <router-link :to="{ name: 'template', params: { templateId: templateId }}">
                        <div style="color:#ff3119;" class="card-error" v-if="choose" @click="switchSlide('template')">Выберите шаблон</div>
                        <div class="card-title" @click="chooseTemplate">Корзина</div>
                        <div class="cart-quant">{{ cart_quant }}</div>
                    </router-link></div></div>
               </div>
        </nav>
        <transition name="slide">
            <aside id="template-side" v-if="slidetemplate">
                <label for="">Поиск шаблонов</label>
                <form action="" class="form-inline filter-templates">
                    <div class="form-group">
                        <input type="text" class="form-control">
                        <input type="submit" value="Поиск" class="btn btn-primary ml-2">
                    </div>
                </form>
                <ul class="list-group templates-list" v-for="(template_item,index) in templates" :key="index">
                    <li  @click="selectTemplate(template_item.id)" class="list-group-item list-group-item-action font-weight-bold" >{{ template_item.name }}</li>
                </ul>
            </aside>
        </transition>
        <aside id="catalog-side" v-if="slidevis">
            <label for="">Каталог</label>
            <ul class="cat-list">
                <li v-for="(cat,index) in catlist" :key="index" @click.stop.prevent="choseCat(cat)">{{ cat.name }} <span @click.stop.prevent="changeVis(cat)" v-if="splash(cat)" class="icon-plus">+</span>
                    <ul v-if="cat.vision" class="dropdown-list">
                        <li v-for="(cat2,index) in cat.childs" :key="index" @click.stop.prevent="choseCat(cat2)">{{ cat2.name }} <span @click.stop.prevent="changeVis(cat2)" v-if="splash(cat2)" class="icon-plus">+</span>
                            <ul v-if="cat2.vision" class="dropdown-list">
                                <li v-for="(cat3,index) in cat2.childs" :key="index" @click.stop.prevent="choseCat(cat3)">{{ cat3.name }} <span @click.stop.prevent="changeVis(cat3)" v-if="splash(cat3)" class="icon-plus">+</span>
                                      <ul v-if="cat3.vision" class="dropdown-list">
                                        <li v-for="(cat4,index) in cat3.childs" :key="index" @click.stop.prevent="choseCat(cat4)">{{ cat4.name }} 
                                            
                                        </li>
                                     </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <button @click="resetCat" class="btn btn-danger action-button" v-show="reset">Сбросить</button>
        </aside>
    </div>
</template>

<script>
    import Search from '@/components/search.vue'

    export default {
        name: "Menu",
        data:function () {
           return {
               slidevis: false,
               slidetemplate:false,
               choose:false,
               avatar: this.$store.state.user.username,
               offers:false,
               catlist:[],
           }
        },
        components:{
          Search
        },
        computed: {
            rights(){
                var right = this.$store.state.user.auth_key.split(',');
          
                return right[1] == " 'admin'";
            },
            reset:{
                get:function(){
                    return this.$store.state.catalog_reset 
                },
                set:function(newValue){
                    this.$store.state.catalog_reset = newValue
                }
            },
            cart_quant(){
                return this.$store.state.cart_quant
            },
            currentTemplate:{
                get:function(){       
                    return this.$store.state.template
                },
                set:function(newValue){
                    this.$store.state.template = newValue
                }   
            },
            cacheCat(){
                return this.$store.state.prod_default
            },
            templateId(){
                return this.$store.state.template.id
            },
            templates(){
                return this.$store.getters.get_all_data.templates
            },
        },
        methods: {
            resetAll(){
               this.$store.state.order = [];
               this.$store.state.template = [];
               this.$store.state.cart_quant = 0;
               this.$store.state.cat_id = 0;
            },
            changeVis(cat){
                cat.vision = !cat.vision;
            },
            splash(cat){ 
                return !(typeof(cat.childs[0]) == 'undefined');
            },
            reload(){
                location.reload();
            },
            resetBrand(){ 
                this.$store.state.products = []
                this.$store.state.products = this.$store.state.prod_default
            },
            resetPostv(){
                this.$store.state.products = []
                this.$store.state.products = this.$store.state.prod_default
            },
            resetCat(){
                this.$store.state.products = []
                this.$store.state.products = this.cacheCat
                this.reset = false
                this.$store.state.titlecat = 'Все товары';
                this.$store.state.cat_id = 0;
                this.$root.$emit('resetall'); 
            },
            choseCat(cat){
                var self = this
                this.$store.state.titlecat = cat.name;
                this.$store.state.merchants = [];
                this.$store.state.cat_id = cat.id

                fetch(this.$store.state.url+'backend/web/api-filtcat', {
                    method:'put',
                    headers: {
                        'Access-Control-Allow-Origin': "*"
                    },
                    body:'&cat_id='+cat.id+'&_csrf-backend='+self.$store.state.csrf
                }).then(function (response) {
                    return response.json();
                    }).then(function (data) {
                //Кэшируем
                self.$store.state.data_cache.data = data
                //Фильтруем
                    self.$store.state.products = [];
                    //Чистим и заполняем кеш брендов для сброса по категории
                    self.$store.state.data_cache.brands = []
                    data.forEach(function(v,i){
                        var check = true;
                        var check_brand = true;

                        self.$store.state.products.push(v);

                        self.$store.state.merchants.forEach(function(mrch){ 
                            if(mrch.id == v.merchants.id){
                                check = false;
                            }   
                        });

                        self.$store.state.brands.forEach(function(brnd){ 
                            if(brnd.id == v.brands.id){
                                check_brand = false;
                            }   
                        });

                        if(check){
                            self.$store.state.merchants.push(v.merchants);     
                        }   
        
                        if(check_brand){
                            self.$store.state.data_cache.brands.push(v.brands); 
                            self.$store.state.brands.push(v.brands);     
                        }  
                    })
                //Кеш брендов 
                });  
                this.reset = true
                this.$router.push({name:'home'})
               // this.$store.dispatch('recalc_merchs',self.$store.state.products);
            },
            listenTemplate(){
                this.$emit('opentemplates')
            },
            chooseTemplate:function(){
              this.choose = (this.templateId == undefined)  ? true : false
            },
            switchSlide:function (e) {
                switch (e) {
                    case "template":
                        this.slidetemplate = !this.slidetemplate;
                        this.slidevis =  false;
                        break;
                    case "catalog":
                        this.slidevis =  !this.slidevis;
                        this.slidetemplate = false;
                        break;
                }
            },
            //Выбираем шаблон из списка
            selectTemplate:function (id) {
                let result;
                this.choose = false
                    for(let item of this.templates){
                      if(item.id == id){
                          result = item
                      }
                    }
                this.currentTemplate = result
                //Сохраняем шаблон в хранилище в текущий шаблон
                this.$store.dispatch('set_template_current',this.currentTemplate);
            }
        },
        created:function(){
            var self = this;
            fetch(this.$store.state.url+'backend/web/api-category', {
                headers: {
                    'Access-Control-Allow-Origin': "*"
                },
            }).then(function (response) {
                return response.json();
                }).then(function (data) {
                    self.catlist = data;
            }); 
        }
    }
</script>

<style scoped lang="scss">
    .cart-quant{
        display: inline-block;
        color: #9c3c3c;
        border-radius: 50%;
        background-color: #f7d840;
        padding: 5px;
        font-weight: bold;
        margin-left: 10px;
        min-width: 33px;
        text-align: center;
    }
    .reset-template{
        display:inline-block;
        margin:0px 40px;
        padding:10px;
    }
    .template__title-current{
        font-size:24px;
        color:#FFF;
    }
    .card-title{
        display: inline;
        cursor:pointer;
        color: rgba(255,255,255,.5); 
        margin-top: 7px;
        &:hover{
            text-decoration: none !important;
        }
    }

    .card-error{
        display: inline;
        position: absolute;
        background: #a51010;
        width: 149px;
        font-size: 15px;
        right: 200px;
        top: -10px;
        color: #FFF !important;
        padding: 10px 9px;
    }
    .nav-item{
        margin-top: 0px;
        display:flex;
        align-items:center;
    }

    .templates-list{
        margin-top: 30px;
        & li{
            color: #902f2f !important;
        }
    }
    .slide-transition{
        transition:all 2s linear;
    }

    .slide-enter{
        width:0px;
    }

    .slide-leave-to {
       width:0px;
    }

    .navbar .in {
        display: block !important;
    }
    .filter-templates{
        display:block !important;
    & .form-control{
          width:180px !important;
      }
    }
    #template-side{
        color: #aaabae;
        width: 350px;
        float: left;
        height: 100vh;
        background: #303641;
        -webkit-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        -moz-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        transition:0.3s;
        margin-right: 40px;
        padding:40px 15px;
        position: relative;
    }
    #catalog-side{
        color: #aaabae;
        width: 350px;
        float: left;
        height: auto;
        min-height:100vh;
        background: #303641;
        -webkit-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        -moz-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        transition:0.3s;
        margin-right: 40px;
        padding:40px 15px;
        position: relative;
    }
    #offers{
    min-width: 250px;
    height: auto;
    background: #007bff;
    min-height: 200px;
    position: absolute;
    z-index: 1000;
    list-style-type: none;
    padding: 15px 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 8px;
    border-top: #0095ff 3px solid;
        & li{
            color:#FFF;
            margin-top: 10px;
            cursor:pointer;
        }
    }
    .cat-list{
        list-style-type: none;
        & li {
            margin-top: 10px;
            font-weight: bold;
            font-size:20x;
            color:#FFF;
            cursor:pointer;
        }
    }
    .icon-plus{
        font-size: 20px;
        margin-left: 5px;
        position: relative;
        top:2px;
        color:#bde820;
    }
</style>