<template>
        <tr width="100%"  class="row-table-prod" style="border:1px solid #DBDBDB;"> 
                <td style="" align="center" width="200px"  height="180px"><img width="170px" height="170px" :src="order.thumbnails"></td>
                <td :style="{fontFamily:currentFont.fontFamily,border:'1px solid #DBDBDB',paddingLeft:'10px'}" width="30%" style="border-spacing:10px"><div style="max-width:200px;">{{ order_name }}</div></td>
                <td  :style="{fontFamily:currentFont.fontFamily,border:'1px solid #DBDBDB',fontSize:'9px'}" align="center" width="15%"><div>{{ order.articul.slice(0, 10) }}</div></td>
                <td  :style="{fontFamily:currentFont.fontFamily,border:'1px solid #DBDBDB'}" align="center" width="15%">{{ this.order.price_roznica }} {{ this.order.valuta }}</td>
                <td  :style="{fontFamily:currentFont.fontFamily,border:'1px solid #DBDBDB'}" align="center" width="12%;">
                    <div style="padding-left:14px;">
                       <div class="minus" @click="minus">-</div>
                       <div @focus="saveQuant" @blur="calcQuant" class="" contenteditable="true" id="qspan" style="display:inline-block;width:33px;float:left;">{{ quant }}</div>
                       <div class="plus" @click="raise">+</div> 
                    </div>
                </td>
                <td :style="{fontFamily:currentFont.fontFamily}" align="center" width="15%;">{{ tovar_summa }} {{ this.order.valuta }}</td>
                <td align="center" width="auto" class="btn-delete btn btn-danger" v-if="delvis" @click.stop="deleteItem"><div>удалить</div></td>
        </tr>
</template>

<script>
    export default {
        name: "OrderItem", 
        data:function(){
            return {
                cachePrice:this.order.price_roznica,
                sale_hidden:0,
                quant_cache:0,
            }
        },
        props:['order','delbutton'],
        computed:{
            imageStyle(){
                return {
                    backgroundImage: 'url("' + 'http://offer'+this.order.thumbnails + '")',
                    backgroundSize:'contain',
                    backgroundRepeat:'no-repeat',
                    height:'100px',
                    width:'300px'
                }
            },
            tovar_summa(){
                return this.order.price_roznica*this.quant
            },
            sale:{
                get:function(){
                    return this.order.indsale;
                },
                set:function(v){
                    this.order.indsale = v
                }
            },
             quant:{
                get:function(){       
                    return this.order.quant;
                },
                set:function(newValue){
                    //this.$store.state.cart_quant = this.$store.state.cart_quant + newValue
                    return newValue
                } 
             },
            description(){ 
                this.order.description = this.order.description.replace(/&nbsp;/g,' ');
                this.order.description = this.order.description.replace(/&ndash;/g,' ');
                this.order.description = this.order.description.replace('&laquo;','').replace('&raquo;', '');
                return (this.order.description !== ' ') ? this.order.description : 'Описание отсутствует'
            },
            order_name(){
                return this.order.name
            },
            delvis(){
                return (this.delbutton == true) ? true : false
            },
            currentFont(){
               return {
                   fontFamily:this.$store.state.template[0].fontname
               }
            },
        },
        methods:{
            saveQuant(e){
                e.preventDefault();
                e.stopPropagation();
                this.quant_cache = e.target.innerHTML
            },
            calcQuant(e){
                this.order.quant = parseInt(e.target.innerHTML)
                this.$store.state.cart_quant = this.$store.state.cart_quant + parseInt(e.target.innerHTML)-parseInt(this.quant_cache)
            },
            calcPrice(e){ 
               var sale = parseInt(e.target.innerHTML)/100
               this.order.indsale = parseInt(e.target.innerHTML)
               this.order.price_roznica = Math.ceil(this.cachePrice-this.cachePrice*sale)
            },
            deleteItem(){
                this.$store.dispatch('delete_item', this.order)
            },
            raise(){
              this.$store.state.cart_quant += 1 
              this.order.quant++;

              var self = this
              this.$store.state.notification.vision = true;
              setTimeout(function(){
                 self.$store.state.notification.vision = false;
              },1000)

            },
            minus(){
               if(this.order.quant == 0){
                   return false
               }
               this.$store.state.cart_quant -= 1   
               this.order.quant--;
            }
        }
    }
</script>

<style lang="scss">
     //@import '../../fonts.css';
    .sale-hidden{
        display:none;
    }
    .order-item{
        width:100%;
    }
    .btn-delete{
        position: absolute !important;
        display:block !important;
        padding:0px 6px 1px 6px;
        text-align:center;
    }
    .plus,.minus{
        display:inline-block;
        width:20px;
        text-align: center;
        cursor:pointer;
        float:left;
    }
    .q-span{
        // border:1px solid #b6b6b6;
        // background:#f7f7f7;
        text-align: center;
        font-weight:bold;
        padding:3px;
    }
    .quant{
        width:100%;
        &>div{
            width:74px;
            margin: 7px;
        }
    }
    #sale-input-tovar{
        border: none !important;
        display: inline-block;
        width: 100%;
        & div{
            display:inline-block;
            width:30px;float:left
        }
    }
    .quant-label{
        display:inline;
        padding-right:20px;
    }
    .sale-label{
        width:150px;
        display:inline-block;
        float:left;
    }
    
</style>