html,
body {
    height: 100%;
}
#category{
    max-height: 200px;
    overflow-y: scroll;
}
#templates-update input.form-control{
    width:400px !important;
}
#psearch input{
    display:inline-block;
}
#psearch input[name='search_product']{
    width: 250px;
    margin-top: 30px;
}
.status-window{
    position: fixed;
    display: none;
    color:#fff;
    font-size:14px;
    text-align:center;
    top:20px;
    right:20px;
    height:40px;
    width:150px;
    background:#2b901d;
    padding:10px 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.add-user{
    display: none;
}
#current{
    display: inline-block;
    width: 70%;
    height: 50px;
    padding-left: 10px;
}
.td-active{
    padding:0 !important;
}
.currency table td{
    padding-top:0;
    padding-bottom:0;
    height:50px;
    vertical-align: middle;
}
.main-item{
    margin-top:15px;
    font-weight: bold;
}
#curbtn{
    width: 30%;
    display: inline-block;
    height: 50px;
}
.form-status{
    padding:0px 0px 10px 0px;
    color:darkred;
    display:none;
}
.sections li>ul{
 
}
#filter-form .form-group{
    width: auto;
    display: inline-block;
}
#filter-form .form-group:last-child{
    margin-left: 5px;
}
#filter-form .form-group:first-child{
    margin-right: 5px;
}
#filter{
    width:400px;
}
#new-catalog{
    width:400px;
}
.error{
    color:darkred;
    padding:10px 0px;
}
.success{
    color:forestgreen;
    padding:10px 0px;
}
a[title='Просмотр'],a[title='Изменить'],a[title='Удалить']{
    padding:0px 5px;
}
.sections{
    list-style-type: none;
    padding:0 !important ;
}
.pagination li{
    padding:0px 10px;
}
.pagination li.active a{
    color: #12171d !important;
}
.menu-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}
.menu-grid>div{
    border-left:1px solid #007bff;
    border-top:1px solid #007bff;
    border-right:1px solid #007bff;
    padding:10px 20px;
    background:#dee2e6;
}
.menu-grid>div:last-child {
    border-bottom:1px solid dodgerblue;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.header .navbar-nav{
    flex-direction: row !important;
}
.navbar-header{
    display:none !important;
}
.header .navbar-collapse{
    display:block !important;
}
.header .navbar-collapse li:first-child{
    padding-top: 14px;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
