<div class="user-body">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width:100%;">
            <a class="navbar-brand" href="#">Youoffer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="templates-aside">Шаблоны</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="catalog-aside">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Exel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PDF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backend/web">Админка</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>

        <aside id="template-side">
            <label for="">Поиск шаблонов</label>
            <form action="" class="form-inline filter-templates">
                <div class="form-group">
                    <input type="text" class="form-control">
                    <input type="submit" value="Поиск" class="btn btn-primary ml-2">
                </div>
            </form>
        </aside>

        <aside id="catalog-side">
            <label for="">Каталог</label>
        </aside>
    <div class="content" id="app">
           <!-- <catalog :products="prods"></catalog> -->
    </div>
</div>
